<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<body>
  <title>List of Events</title>


<a href="{{ url_for('eventlist') }}?sort-by=name">sort by name</a>

<form class="search" method="get">
  <input name="q" type="text" value="{{ request.args["q"] }}">
  {% if 'sort-by' in request.args %}
  <input name="sort-by" type="hidden" value="{{ request.args["sort-by"] }}">
  {% endif %}
  <input class="query" type="submit" value="search">
</form>

<h1>List of Events</h1>

<ol>
  {% for event_id, event in events %}
  <li itemscope
      itemid="{{ url_for('event', event_id=event_id, _external=True) }}"
      resource="{{ url_for('event', event_id=event_id, _external=True) }}"
      vocab="http://schema.org/"
      typeof="Event">
    
    <a href="{{ url_for('event', event_id=event_id) }}">
      <span itemprop="name" property="name">{{ event.name }}</span>
    </a>
  </li>
  {% endfor %}
</ol>

<h2 property="name">Event Input</h2>
<form class="add_event" method="PUT">
Add New Event
<input class="name" type="text" name="name" value="name">
<input class="description" type="text" name="startDate" value="Date" />
<input class="add" type="submit" />
</form>

<h3>Return to <a rel="collection" href="{{ url_for('farmerlist') }}">farmers</a>.</h3>
<h3>Return to <a rel="collection" href="{{ url_for('producelist') }}">produce</a>.</h3>

<script>
var addForm = document.querySelector('form.add_event');
var addButton = document.querySelector('form.add_event input.add');
addButton.addEventListener('click', function (event) {
event.preventDefault();
var request = new XMLHttpRequest();
request.open('PUT', window.location.pathname);
request.send(new FormData(addForm));
{# console.log(new FormData(addForm))#}
location.reload();
}, false);
</script>
</body>
