<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">

<body           vocab="http://schema.org/"
                typeof="Event">

<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a><br>

<h1 property="name">{{ event.name }}</h1>  

  <h2>Event Info</h2>
      <li property="name">Name:  {{event.name}}
        <p  property="startDate">Start Date:  {{event.startDate}}</p>
        <p propery="organizer">Organizer:  {{event.organizer}}</p>
      </li>


<form method="PATCH" class="update-event">
Update Event
<input class="name" type="text" name="name" value="Event Name" />
<input class="description" type="text" name="startDate" value="Date" />
<input class="add" type="submit" value="Update your listing" />
</form>


<form class="delete-event" method="DELETE">
Delete Event
<input class="this" type="submit" />
</form>


<script>
var addForm = document.querySelector('form.update-event');
var addButton = document.querySelector('form.update-event input.add');
addButton.addEventListener('click', function (event) {
event.preventDefault();
var request = new XMLHttpRequest();
request.open('PATCH', window.location.pathname);
request.send(new FormData(addForm));
{# console.log(new FormData(addForm))#}
location.reload();
}, false);

 var delForm = document.querySelector('form.delete-event');
var delButton = document.querySelector('form.delete-event input.this');
delButton.addEventListener('click', function (event) {
event.preventDefault();
var request = new XMLHttpRequest();
request.open('DELETE', window.location.pathname);
request.send(new FormData(delForm));
location.reload();
{# console.log(new FormData(remForm))#}
}, false);
</script>
 





<h3><a rel="collection" href="{{ url_for('eventlist') }}">List of Events</a></h3>
</body>
