<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">

<body           vocab="http://schema.org/"
                typeof="Person">

<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a><br>

<h1 property="name">{{ farmer.name }}</h1>  

  <label>Farmer Info<br>
      <li>
        <p property="worksFor">Farm Name:  {{farmer.worksFor}}</p>
        <p propery="location">Farm Location:  {{farmer.farmLocation.street_address}},
        <propery="location">{{farmer.farmLocation.city}},
        <propery="location">{{farmer.farmLocation.state}}</p>
      </li>
    <textarea name="comment"></textarea>
  </label>





<p><a rel="collection" href="{{ url_for('farmerlist') }}">List of Farmers</a></p>
<p><a rel="collection" href="{{ url_for('producelist') }}">List of Produce</a></p>
</body>
