<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">

<body           vocab="http://schema.org/"
                typeof="Product">

<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a><br>

<h1 property="name">{{ produce.name }}</h1>  

  <h2>Produce Info</h2>
  </br>
      <li property="name">Name:  {{produce.name}}
        <p  property="offers">Offers:  {{produce.offers}}</p>
        <p property="releaseDate">Farmed Date:   {{produce.releaseDate}}</p>
        <p property="itemCondition">Item Condition:  {{produce.itemCondition}}</p>
        <p property="sale">On Sale:  {{produce.sale}}</p>
        <p property="brand">Sold By:  {{produce.brand.name}}</p>
      </li>
 


<form class="add_produce" method="PATCH">
Add new produce
<input class="name" type="text" name="name" value="Produce">
<input class="description" type="text" name="offers" value="price" />
<input class="add" type="submit" />
</form>


<form method="DELETE" class="delete-produce">
Delete Produce
<input class="this" type="submit" />
</form>


<script>
var addForm = document.querySelector('form.add_produce');
var addButton = document.querySelector('form.add_produce input.add');
addButton.addEventListener('click', function (event) {
event.preventDefault();
var request = new XMLHttpRequest();
request.open('PUT', window.location.pathname);
request.send(new FormData(addForm));
{# console.log(new FormData(addForm))#}
location.reload();
}, false);

 var delForm = document.querySelector('form.delete-produce');
var delButton = document.querySelector('form.delete-produce input.this');
delButton.addEventListener('click', function (event) {
event.preventDefault();
var request = new XMLHttpRequest();
request.open('DELETE', window.location.pathname);
request.send(new FormData(delForm));
location.reload();
{# console.log(new FormData(remForm))#}
}, false);
</script>


<p><a rel="collection" href="{{ url_for('producelist') }}">List of Produce</a></p>
</body>
