<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">

<body           vocab="http://schema.org/"
                typeof="Product">

<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a><br>

<h1 property="name">{{ produce.name }}</h1>  

  <h2>Produce Info</h2>

      <li>
        Offers:  <p  property="offers">{{produce.offers}}</p>
        Farmed Date:   <p property="releaseDate">{{produce.releaseDate}}</p>
        Item Condition:  <p property="itemCondition">{{produce.itemCondition}}</p>
        On Sale:  <p property="sale">{{produce.sale}}</p>
        Sold By:  <p property="brand">{{produce.brand.name}}</p>
      </li>
 


<form class="update-produce" method="PATCH">
Update produce
<br>  
On sale? <select name="sale">
  <option>no</option>
  <option {% if produce.sale == "yes" %}selected{% endif %}>yes</option>
</select>
<br>
Date farmed <input type="text" name="releaseDate" value="{{ produce.releaseDate }}">
<br>
Price: <input class="description" type="text" name="offers" value="{{ produce.offers }}" />
<br>
<input class="add" type="submit" />
</form>


<form method="DELETE" class="delete-produce">
Delete Produce
<input class="this" type="submit" />
</form>


<script>
var addForm = document.querySelector('form.update-produce');
var addButton = document.querySelector('form.update-produce input.add');
addButton.addEventListener('click', function (event) {
event.preventDefault();
var request = new XMLHttpRequest();
request.open('PATCH', window.location.pathname);
request.send(new FormData(addForm));
{# console.log(new FormData(addForm))#}
//location.reload();
}, false);

 var delForm = document.querySelector('form.delete-produce');
var delButton = document.querySelector('form.delete-produce input.this');
delButton.addEventListener('click', function (event) {
event.preventDefault();
var request = new XMLHttpRequest();
request.open('DELETE', window.location.pathname);
request.send(new FormData(delForm));
//location.reload();
{# console.log(new FormData(remForm))#}
}, false);
</script>


<p><a rel="collection" href="{{ url_for('producelist') }}">List of Produce</a></p>
</body>
